{{> error }}

<ul class="list">
	<li class="list-divider">&Uuml;bersicht</li>
	{{# categories }}
		<li class="list-item-single-line"><a data-routing="category.posts" data-identifier="{{ id }}" data-tab="news" data-tpl="news">{{ title }}</a></li>
	{{/ categories }}
</ul>