<ul class="list">
	<li class="list-divider">&Uuml;bersicht</li>
	{{# categories }}
		<li class="list-item-single-line"><a href="{{ slug }}" data-ajax="true" data-href-type="category" data-href-tpl="news">{{ title }}</a></li>
	{{/ categories }}
</ul>