{{> error }}

<h5>Kategorien</h5>
<ul class="sidr-menu">
	{{# categories }}
		<li><a data-routing="category.posts" data-identifier="{{ id }}&amp;page=" data-tab="news" data-tpl="news" data-sidepanel="inherit" data-puller="inc:1:1">{{ title }}</a></li>
	{{/ categories }}
</ul>