{{> error }}

<ul class="list">
	{{^ pulled }}<li class="list-divider">News</li>{{/ pulled }}
	{{# posts }}
		<li class="list-item-multi-line">
			<h3><a data-routing="post.id" data-identifier="{{ id }}" data-tab="news" data-tpl="post" data-sidepanel="inherit">{{{ title }}}</a></h3>
			<p>{{{ excerpt }}}</p>
		</li>
	{{/ posts }}
</ul>