<ul class="list">
	<li class="list-divider">Aktuellste News</li>
	{{# posts }}
		<li class="list-item-multi-line">
			<h3><a href="{{ id }}" data-ajax="true" data-href-type="post" data-href-tpl="post">{{ title_plain }}</a></h3>
			<p>{{ excerpt }}</p>
		</li>
	{{/ posts }}
</ul>