{{> error }}

<p class="top-divider">{{ post.date }}</p>
<article class="post">
	<h3>{{{ post.title }}}</h3>
	<img src="{{ post.thumbnail }}" alt="" class="img">
	<div>
		{{{ post.content }}}
	</div>
</article>