<article class="post">
	<p class="post-date">{{ post.date }}</p>
	<h3 class="post-title">{{ post.title_plain }}</h3>
	<!--<p class="post-category">In Kategorie(n):
		{{# post.categories }}
			{{ title }}
		{{/ post.categories }}
	</p>-->
	<img src="{{ post.thumbnail }}" alt="" class="post-img">
	<div class="post-content">
		{{ post.content }}
	</div>
</article>