{{> error }}

{{{}}}
<script>
var input = $('#search_field');
input.focus();

function validate() {
	if (input.val() === '') {
		navigator.notification.alert(
		    'Der Suchbegriff darf nicht leer sein.',
		    function() {},
		    'Leere Suche',
		    'OK'
		);
		input.focus();
	} else {
		var value = input.val();
		$('#submit').data('identifier', value);
		$('#submit').click();
	}
}
</script>
{{{}}}

<form id="form" action="javascript:void(0)" onsubmit="validate()">
	<label>Suche</label>
    <input id="search_field" type="text" name="search" placeholder="Suchbegriff" class="input-text">

    <div class="form-actions">
	    <input type="button" class="btn btn-block" value="Absenden" onclick="validate()">
        <a data-routing="news.recent" data-identifier="&amp;page=" data-tab="news" data-tpl="news" data-sidepanel="categories" data-puller="inc:1:1" class="btn btn-block" style="text-align: center">Abbruch</a>
        <a id="submit" data-routing="search.results" data-identifier="&amp;page=" data-tab="news" data-tpl="search_results" data-sidepanel="categories" data-puller="inc:1:1"></a>
    </div>
</form>