//
//
.page
	background: url('../../img/ajax-loader.gif') center center no-repeat

//
//
.app-icon
	margin-right: 10px

.icon-schwingenonline
	background-image: url('../../img/actionbar-icon.png')

//
//
.actions
	&.pull-right
		position: absolute
		top: 0
		right: 0


//
//
img
	height: auto
	max-width: 100%

//
//
.list-item-multi-line
	h3
		height: auto
		padding: 8px 0 6px
		line-height: 23px
	p
		font-size: 13px
		line-height: 1.35em