/*
 * holo.css - Android Holo Design CS Sheet
 *****************************************************************************/

@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic');

/*
 * actionbar: #333; actionbar-light: #eeeeee;
 * actionbar-actions: #d6d6d6; actionbar-actions-light: #7e7e7e;
 * actionbar-bottom: #555555;
 * actionbar-bottom-actions: #dddddd;
 *
 * blue-light: #33b5e5;
 * red: #ff4444;
 *
 * input-light: #808080;
 * input-light-active: #00bff3;
 * input-border-light: #b4b4b4;
 * input-border-active-light: #0099cc;
 */


/*
 * globals - document-wide styles
 *****************************************************************************/

* { box-sizing: border-box }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

a {	text-decoration: none }


.layout-actionbar--top { padding-top: 48px }
.layout-actionbar--bottom { padding-bottom: 48px }


.actionbar {
	height: 48px;
	padding-left: 16px;
	padding-right: 25px;
	border-width: 0 0 1px;
	border-style: solid;
	font-size: 18px;
	line-height: 48px;
	letter-spacing: 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 800;
}

.actionbar--inner { position: relative }

.actionbar--top { top: 0 }
.actionbar--bottom { bottom: 0 }

.actionbar--light {
	background-color: #eee;
	border-color: #bfbfbf;
	color: #000;
	box-shadow: 0 0 5px #d1d1d1;
}
.actionbar--dark {
	background-color: #333;
	border-color: #292929;
	color: #fff;
	box-shadow: 0 0 5px #1a1a1a;
}


.actionbar--dark .actionbar-icon { background-color: #d6d6d6 }
.actionbar--light .actionbar-icon { background-color: #7e7e7e }

.actionbar-icon,
.actionbar-icon::before,
.actionbar-icon::after { position: absolute }

.actionbar-icon:hover,
.actionbar-icon.active { background-color: #33b5e5 }

.actionbar-icon {
	right: 0;
	z-index: 805;
}

.actionbar-icon::before,
.actionbar-icon::after { content: '' }

.actionbar-icon--menu,
.actionbar-icon--menu::before,
.actionbar-icon--menu::after { width: 5px }

.actionbar-icon--menu {	height: 5px }

.actionbar-icon--menu::before {
	height: 14px;
	border-width: 5px 0;
	border-style: solid;
}

.actionbar--light .actionbar-icon--menu::before {
	border-color: #7e7e7e;
}

.actionbar--dark .actionbar-icon--menu::before {
	border-color: #d6d6d6;
}

.actionbar-icon--menu::after {
	height: 5px;
	padding: 20px;
}

.actionbar-icon--menu:hover::before,
.actionbar-icon--menu.active::before {
	border-color: #33b5e5;
}

.actionbar-icon--menu { top: 21px }
.actionbar-icon--menu::before { top: -9px }
.actionbar-icon--menu::after {
	top: -20px;
	left: -20px;
}




.actionbar-menu { display: none }

.actionbar-menu ul {
	width: 60%;
	margin: 0;
	padding: 0;
	border-width: 0 1px 1px;
	border-style: solid;
	list-style: none;
	position: absolute;
	right: 10px;
	z-index: 895;
	box-shadow: 0 3px 10px #888;
}

.actionbar-menu--top ul { top: 48px }
.actionbar-menu--bottom ul { bottom: 48px }

.actionbar-menu--light ul { border-color: #e6e6e6 }
.actionbar-menu--dark ul { border-color: #3d3d3d }

.actionbar-menu a {
	padding-right: 14px;
	padding-left: 14px;
	font-size: 18px;
	line-height: 48px;
	display: block;
}

.actionbar-menu--light a {
	background-color: #efefef;
	border-bottom: 1px solid #d7d7d7;
	color: #000;
}

.actionbar-menu--dark a {
	background-color: #303030;
	border-bottom: 1px solid #4f4f4f;
	color: #fff;
}

.actionbar-menu--light a:hover,
.actionbar-menu--dark a:hover {
	background-color: #199fca;
	color: #fff;
}

.actionbar-menu li:last-child a { border-bottom: none }


.modal-box {
	width: 80%;
	padding: 20px;
	border-width: 1px 1px;
	border-style: solid;
	font-size: 18px;
	position: absolute;
	left: 10%;
	display: block !important; /* temp only */
}

.modal-box h6 {
	margin: 0;
	padding-bottom: 12px;
	border-width: 0 0 3px;
	border-style: solid;
	font-weight: 300;
	font-size: 22px;
	line-height: 22px;
}

.modal-box--dark h6 {
	border-color: #3e3e3e;
	color: #fff;
}

.modal-box p {}

.modal-box--dark {
	background-color: #282828;
	border-color: #2e2e2e;
	color: #bcbcbc;
	box-shadow: 0 0 10px #666;
}


.btn-group {
	margin: 0 -20px -20px;
	border-width: 1px 0 0;
	border-style: solid;
}

.btn-group::before,
.btn-group::after {
    content: ' ';
    display: table;
}

.btn-group::after { clear: both }

.btn-group--dark {
	border-color: #484848;
}

.btn {
	text-align: center;
	display: inline-block;
}

.btn--modal {
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
}

.btn--modal:first-child { border-right: 1px solid #484848 }
.btn--modal:last-child { margin-left: -4px }

.btn--dark {
	color: #fff;
}

.btn--dark:hover {
	background-color: #199fca;
}