/*
 * holo.css - Android Holo Design CS Sheet
 *****************************************************************************/

@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic');

/*
 * actionbar: #333; actionbar-light: #eeeeee;
 * actionbar-actions: #d6d6d6; actionbar-actions-light: #7e7e7e;
 * actionbar-bottom: #555555;
 * actionbar-bottom-actions: #dddddd;
 *
 * blue-light: #33b5e5;
 * red: #ff4444;
 *
 * input-light: #808080;
 * input-light-active: #00bff3;
 * input-border-light: #b4b4b4;
 * input-border-active-light: #0099cc;
 */


/*
 * globals - document-wide styles
 *****************************************************************************/

* { box-sizing: border-box }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


.layout-with-actionbar--top { padding-top: 48px }
.layout-with-actionbar--bottom { padding-bottom: 48px }


[class*="actionbar--"] {
	height: 48px;
	padding-left: 16px;
	padding-right: 25px;
	font-size: 18px;
	line-height: 48px;
	letter-spacing: 1px;
	position: fixed;
	right: 0;
	left: 0;
	box-shadow: 0 2px 5px #d1d1d1;
}

[class*="actionbar--"].actionbar--top {	top: 0 }
[class*="actionbar--"].actionbar--bottom { bottom: 0 }

.actionbar--light {
	background-color: #eee;
	border-bottom: 1px solid #bfbfbf;
	color: #000;
}

.actionbar--dark {
	background-color: #333;
	border-bottom: 1px solid #292929;
	color: #fff;
}