.app-icon {
	margin-right: 10px;
}

.icon-schwingenonline {
	background-image: url('../../img/actionbar-icon.png');
}

img {
	height: auto;
	max-width: 100%;
}

.article h3 {
	margin-bottom: 15px;
	line-height: 24px;
}

.article img {
	margin-bottom: 8px;
}

.article p {
	margin-bottom: 22px;
	font-size: 15px;
	line-height: 21px;
	text-align: justify;
}

.article p:last-child {
	padding-bottom: 15px;
}

h2.title {
	width: 180px;
}

.list--wide {
	padding-left: 0;
	padding-right: 0;
}

.list--first {
	padding-top: 0;
}

.inset--last {
	padding-bottom: 0;
}


.list-item-multi-line:first-child {
	padding-top: 0;
	border-top: 0;
}

.list-item-multi-line h3 {
	height: auto;
	margin-top: 5px;
	margin-bottom: 8px;
	line-height: 21px;
}

.list-item-multi-line:first-child h3 {
	margin-top: 0;
}


a,
.list > li > a {
	color: #fff;
}

a:hover,
.list > li > a:hover,
a:active,
a:focus,
.list > li > a:active,
.list > li > a:focus,
.list > li > a.active {
	color: #b2d249;
}


.tab-fixed ul.tab-inner li:active,
.action:active {
	background-color: rgba(178, 210, 73, 0.8);
}

.tab-fixed ul.tab-inner li.active a {
	border-color: #b2d249;
}

[class*="btn"]:hover, [class*="btn"].hover, [class*="btn"]:focus, [class*="btn"].focused {
	background: rgba(178, 210, 73, 0.8);
	-webkit-box-shadow: inset 0 0 1px 2pt #b2d249, 0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 1px 2pt #b2d249, 0 2px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 1px 2pt #b2d249, 0 2px 3px rgba(0, 0, 0, 0.5);
}

[class*="btn"]:active, [class*="btn"].active {
	background: rgba(178, 210, 73, 1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px 2pt #b2d249;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 3px rgba(0,0,0,0.5), 0 0 2px 2pt #b2d249;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px 2pt #b2d249;
}

.input-text:focus {
	border-color: #b2d249;
}


.actions.pull-right {
	position: absolute;
	top: 0;
	right: 0;
}